body{
    margin: 0;
    padding: 0;
    color: #ebebeb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-wrap: break-word;
    overflow: break-word;
}
h1{
    font-weight: 900;
    color: #0822b9;
}
h2{
    color: #ffffff;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
main{
    display: block;
    background-color: #fcfdfe;
}
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module p{
    margin-bottom: 40px;
}
section.module:last-child{
    margin-bottom: 0;
}
section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}
section.module_content{
    padding: 40px 0;
    background: #373747;
}
section.module_parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    opacity: 0.9;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
section.module_parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-box-shadow inset 0px -80px 50px 10px rgba(7, 3, 23, 0.8);
    background: -webkit-box-shadow inset 0px -80px 50px 10px rgba(7, 3, 23, 0.8);
    box-shadow: inset 0px -80px 50px 10px rgba(7, 3, 23, 0.8);
}
section.module_parallax_english{
    background-image: url(https://th.bing.com/th/id/OIG1.XbL4bD5kaxH4ErfFpfrj?w=1024&h=1024&rs=1&pid=ImgDetMain);
}
section.module_parallax_blackboard{
    background-image: url(https://th.bing.com/th/id/OIG2.npyPdionTjJ.Hra2LzQa?w=1024&h=1024&rs=1&pid=ImgDetMain);
}
section.module_parallax_design{
    background-image: url(https://th.bing.com/th/id/OIG1.OCwkHj5OFWtmzSC1ha_e?pid=ImgGn);
} 
section.module_parallax h1{
    color: #040447;
    text-align: center;
    font-size: 100px;
    z-index: 60;
    text-transform: uppercase;
}
.area-1, .area-2, .area-3{
    visibility: hidden;
}
