body {
    margin: 0;
    padding: 0;
    color: #ebebeb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-wrap: break-word;
    overflow: break-word;

}

h1,
h3,
h4 {
    font-weight: 900;
    color: #0822b9;
}

h2 {
    font-weight: 900;
    color: #ffffff;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #fcfdfe;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module_content {
    padding: 40px 0;
    background: #373747;
    
}

section.module_parallax_english {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    opacity: 90%;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   

}

section.module_parallax_english:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 65%, #676666 90%);
    background: -webkit-linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 65%, #676666 90%);
    background: linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 65%, #676666 90%);

}

section.module_parallax_english {
    background-image: url(https://th.bing.com/th/id/OIG1.XbL4bD5kaxH4ErfFpfrj?w=1024&h=1024&rs=1&pid=ImgDetMain);
    
}

section.module_parallax_english h1 {
    color: #040447;
    text-align: center;
    font-size: 100px;
    z-index: 60;
    text-decoration: uppercase;
   
}

section.module_parallax_blackboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

section.module_parallax_blackboard:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 50%, #676666 90%);
    background: -webkit-linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 50%, #676666 90%);
    background: linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 50%, #676666 90%);

}

section.module_parallax_blackboard {
    background-image: url(https://th.bing.com/th/id/OIG2.npyPdionTjJ.Hra2LzQa?w=1024&h=1024&rs=1&pid=ImgDetMain);
}

section.module_parallax_blackboard h1 {
    color: #04045d;
    text-align: center;
    font-size: 90px;
    z-index: 50;
    text-decoration: uppercase;
}

section.module_parallax_design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 20% 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

section.module_parallax_design:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 50%, #676666 90%);
    background: -webkit-linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 50%, #676666 90%);
    background: linear-gradient(to bottom, rgba(194, 193, 193, 0) 0, rgba(209, 208, 208, 0) 50%, #676666 90%);

}

section.module_parallax_design {
    background-image: url(https://th.bing.com/th/id/OIG1.OCwkHj5OFWtmzSC1ha_e?pid=ImgGn);
}

section.module_parallax_design h1 {
    color: #04045d;
    text-align: center;
    font-size: 90px;
    z-index: 50;
    text-decoration: uppercase;
}
.area-1, .area-2, .area-3{
    visibility: hidden;
}
